{% extends "login_base.html" %}
{% block title %}login{% endblock %}

{% block main %}

<div class="row">
    <div class="col-xs-6 col-sm-3"></div>
    <div class="col-xs-6 col-sm-6">
        {% import "_form.html" as forms %}
        <form method="POST" action="" id='login'>
        {{ forms.render(form) }}
            <button type="submit" class="btn btn-primary" name="login">Login</button>
        </form>
        <br>
        <a href="{{ url_for('useraccounts.reset_password_request') }}"> <i class="fa fa-hand-o-right" aria-hidden="true"></i>
            Forget password? please check here.</a>
        <br>
        <a href="{{ url_for('useraccounts.register') }}"> <i class="fa fa-hand-o-right" aria-hidden="true"></i>
            New User? please check here to register.</a>
    </div>
    <div class="col-xs-6 col-sm-3"></div>
</div>

{% endblock %}