{% extends 'login_base.html' %}
{% block title %} Settings: Update Profile {% endblock %}
{% block main %}
    <div class="row">
        <ul class="nav nav-pills nav-stacked col-xs-6 col-sm-3">
            <li class="active"><a href="#">Profile</a></li>
            <li><a href="#">Password</a></li>
            <li><a href="#">iOS</a></li>
            <li><a href="#">VB.Net</a></li>
            <li><a href="#">Java</a></li>
            <li><a href="#">PHP</a></li>
        </ul>
    </div>
{% endblock %}