{% extends 'login_base.html' %}

{%block main %}
<div class="col-md-2">
    <div class="row">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Basic Info</a></li>
            <li class="active"><a href="#">Posts Info</a></li>
        </ul>
    </div>
</div>
<div class="col-md-6 col-md-offset-1">
    <div class="row">
        <table class="table" style="border-collapse:separate; border-spacing:0px 15px;">
            <thead><h3>About User</h3></thead>
            <tbody>
                <tr>
                    <td>Username</td>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <td>About_me</td>
                    <td>{{ user.about_me }}</td>
                </tr>
                <tr>
                    <td>Homepage</td>
                    <td>{{ user.homepage_url }}</td>
                </tr>
                <tr>
                    <td>Social Network</td>
                    <td>
                    {% if user.social_networks['github']['url'] %}
                        <a href='{{ user.social_networks["github"]["url"] }}'><i class="fa fa-github fa-lg"></i></a>
                    {% endif %}
                    {% if user.social_networks['weibo']['url'] %}
                        <a href='{{ user.social_networks["weibo"]["url"] }}'><i class="fa fa-weibo fa-lg"></i></a>
                    {% endif %}
                    {% if user.social_networks['wechat']['url'] %}
                        <a id="btn_weixin" href='{{ user.social_networks["wechat"]["url"] }}'><i class="fa fa-weixin fa-lg"></i></a>
                        <!-- weixin -->
                        <div id="weixin" class="hidden">
                            <br>
                            <img src="{{ user.social_networks["wechat"]["url"] }}?imageView/2/w/150" title="weixin">
                        </div>
                    {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

